Repository open-quantum-safe/oqs-provider, changes with the owners that .github/CODEOWNERS names for each.
All owners: @baentsch, @bhess, @feventura, @thb-sb, @jplomas, @iyanmv

.github/CODEOWNERS:

# https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners

* @baentsch
/oqsprov/oqs_hyb_kem.c @bhess
/oqs-template/generate.yml @baentsch @bhess @feventura
/CMakeLists.txt @baentsch @thb-sb
/.circleci/config.yml @baentsch @thb-sb
/.github/workflows @baentsch @thb-sb @jplomas
/oqsprov/oqs_sig.c @baentsch @feventura
/scripts/oqsprovider-pkcs12gen.sh @iyanmv

fixup! Use workflow_dispatch instead of repository_dispatch
  .github/workflows/liboqs-release.yml
  .github/workflows/release-test.yml
Owners: @baentsch, @thb-sb, @jplomas

Use workflow_dispatch instead of repository_dispatch
  .github/workflows/liboqs-release.yml
  .github/workflows/release-test.yml
  .github/workflows/release.yml
Owners: @baentsch, @thb-sb, @jplomas

Add pr.yml caller workflow
  .github/workflows/pr.yml
Owners: @baentsch, @thb-sb, @jplomas

Fix workflowcheck findings
  .github/workflows/liboqs-release.yml
  .github/workflows/release-test.yml
Owners: @baentsch, @thb-sb, @jplomas

Incorporate workflow check from main
  .github/workflows/basic.yml
  .github/workflows/check_workflows.yml
  .github/workflows/linux.yml
  .github/workflows/macos.yml
  .github/workflows/release-test.yml
Owners: @baentsch, @thb-sb, @jplomas

Add push.yml caller workflow
  .github/workflows/basic.yml
  .github/workflows/linux.yml
  .github/workflows/macos.yml
  .github/workflows/platforms.yml
  .github/workflows/push.yml
  .github/workflows/standalone.yml
  .github/workflows/windows.yml
Owners: @baentsch, @thb-sb, @jplomas

fixup! Incorporate workflow check from main
  .github/workflows/check_workflows.yml
Owners: @baentsch, @thb-sb, @jplomas

Fix various static analysis issues.
  oqsprov/oqs_encode_key2any.c
  oqsprov/oqs_kem.c
  oqsprov/oqs_kmgmt.c
  oqsprov/oqsprov_keys.c
  test/oqs_test_evp_pkey_params.c
Owners: @baentsch

Fix Dereference before null check.
  oqsprov/oqs_kem.c
Owners: @baentsch

Fix Dereference before null check.
  oqsprov/oqs_kem.c
Owners: @baentsch

Fixed deref without null check.
  oqsprov/oqsprov.c
Owners: @baentsch

Update fullbuild.sh to support -DOQS_LIBJADE_BUILD
  scripts/fullbuild.sh
Owners: @baentsch

Update CONFIGURE.md
  CONFIGURE.md
Owners: @baentsch

Update macos CI to build liboqs with -DOQS_LIBJADE_BUILD=ON
  .github/workflows/macos.yml
Owners: @baentsch, @thb-sb, @jplomas

fixup! Update fullbuild.sh to support -DOQS_LIBJADE_BUILD
  scripts/fullbuild.sh
Owners: @baentsch

Share reversal for x25519_mlkem*
  oqs-template/generate.yml
  oqs-template/oqsprov/oqs_kmgmt.c/keymgmt_constructors.fragment
  oqs-template/oqsprov/oqs_kmgmt.c/keymgmt_functions.fragment
  oqsprov/oqs_hyb_kem.c
  oqsprov/oqs_kmgmt.c
  oqsprov/oqs_prov.h
  oqsprov/oqsprov.c
  oqsprov/oqsprov_keys.c
  test/oqs_test_evp_pkey_params.c
Owners: @baentsch, @bhess, @feventura

code-format
  oqsprov/oqsprov_keys.c
Owners: @baentsch

Update x25519_mlkem768 code point
  ALGORITHMS.md
  oqs-template/generate.yml
  oqs-template/oqs-kem-info.md
  oqsprov/oqsprov_capabilities.c
  scripts/oqsprovider-externalinterop.sh
Owners: @baentsch, @bhess, @feventura

interop onlu with x25519_kyber768
  scripts/oqsprovider-externalinterop.sh
Owners: @baentsch

Updated templates to change x25519_mlkem768 to X25519MLKEM768
  oqs-template/ALGORITHMS.md/ids.fragment
  oqs-template/ALGORITHMS.md/oids.fragment
  oqs-template/generate.yml
  oqs-template/oqsprov/oqs_decode_der2key.c/decoder_make.fragment
  oqs-template/oqsprov/oqs_encode_key2any.c/encoder_defines.fragment
  oqs-template/oqsprov/oqs_encode_key2any.c/encoder_make.fragment
  oqs-template/oqsprov/oqs_kmgmt.c/keymgmt_functions.fragment
  oqs-template/oqsprov/oqs_prov.h/alg_functions.fragment
  oqs-template/oqsprov/oqs_prov.h/endecoder_functions.fragment
  oqs-template/oqsprov/oqsdecoders.inc/make.fragment
  oqs-template/oqsprov/oqsencoders.inc/make.fragment
  oqs-template/oqsprov/oqsprov.c/assign_sig_oids.fragment
  oqs-template/oqsprov/oqsprov.c/kem_functions.fragment
  oqs-template/oqsprov/oqsprov.c/keymgmt_functions.fragment
  oqs-template/oqsprov/oqsprov.c/oid_patching.fragment
  oqs-template/oqsprov/oqsprov_capabilities.c/codepoint_patching.fragment
  oqs-template/oqsprov/oqsprov_capabilities.c/group_names.fragment
  oqs-template/oqsprov/oqsprov_keys.c/oqsnames.fragment
  oqs-template/test/oqs_test_evp_pkey_params.c/hybrid_kem_algs.fragment
Owners: @baentsch, @bhess, @feventura

Ran ./oqs-template/generate.sh
  ALGORITHMS.md
  oqsprov/oqs_decode_der2key.c
  oqsprov/oqs_encode_key2any.c
  oqsprov/oqs_kmgmt.c
  oqsprov/oqs_prov.h
  oqsprov/oqsdecoders.inc
  oqsprov/oqsencoders.inc
  oqsprov/oqsprov.c
  oqsprov/oqsprov_capabilities.c
  oqsprov/oqsprov_keys.c
  test/oqs_test_evp_pkey_params.c
Owners: @baentsch

Changed leftover instances of x25519_mlkem768 manually
  scripts/common.py
Owners: @baentsch

Hacked hybrid logic to work with new name X25519MLKEM768
  oqsprov/oqsprov_keys.c
Owners: @baentsch

Updated templates to change p256_mlkem768 to SecP256r1MLKEM768
  oqs-template/README.md/algs.fragment
  oqs-template/generate.yml
  oqs-template/oqs-kem-info.md
  oqs-template/oqsprov/oqs_kmgmt.c/keymgmt_functions.fragment
  oqs-template/oqsprov/oqs_prov.h/alg_functions.fragment
  oqs-template/oqsprov/oqsprov.c/keymgmt_functions.fragment
  oqs-template/scripts/common.py/kex_algs.fragment
Owners: @baentsch, @bhess, @feventura

Ran ./oqs-template/generate.sh
  ALGORITHMS.md
  README.md
  oqsprov/oqs_decode_der2key.c
  oqsprov/oqs_encode_key2any.c
  oqsprov/oqs_kmgmt.c
  oqsprov/oqs_prov.h
  oqsprov/oqsdecoders.inc
  oqsprov/oqsencoders.inc
  oqsprov/oqsprov.c
  oqsprov/oqsprov_capabilities.c
  oqsprov/oqsprov_keys.c
  scripts/common.py
  test/oqs_test_evp_pkey_params.c
Owners: @baentsch

Hacked hybrid logic to work with new name SecP256r1MLKEM768
  oqsprov/oqsprov_keys.c
Owners: @baentsch

Ran ./scripts/format_code.sh
  oqsprov/oqsprov_keys.c
Owners: @baentsch

Fixed formatting
  oqsprov/oqsdecoders.inc
  oqsprov/oqsencoders.inc
Owners: @baentsch

Cast void* to char* to satisy MSVC
  oqsprov/oqsprov_keys.c
Owners: @baentsch

Only overwrite default library prefix for module library type build.
  oqsprov/CMakeLists.txt
Owners: @baentsch

fixing encoders
  oqs-template/oqsprov/oqsprov_keys.c/oqsnames.fragment
  oqsprov/oqs_encode_key2any.c
  oqsprov/oqsprov_keys.c
  test/oqs_test_evp_pkey_params.c
Owners: @baentsch

Only overwrite default library prefix for module library type build. (#525)
  oqsprov/CMakeLists.txt
Owners: @baentsch

Fix NULL Check and Error Handling
  oqsprov/oqsprov_keys.c
Owners: @baentsch

Fix NULL Check and Error Handling
  oqsprov/oqs_kem.c
  oqsprov/oqs_kmgmt.c
Owners: @baentsch

More explicit logic for share reversal in oqsnames.fragment
  oqs-template/oqsprov/oqsprov_keys.c/oqsnames.fragment
Owners: @baentsch

Fix potential memory leak
  oqsprov/oqsprov_keys.c
Owners: @baentsch

fixup! Update CONFIGURE.md
  CONFIGURE.md
Owners: @baentsch

fixup! Update macos CI to build liboqs with -DOQS_LIBJADE_BUILD=ON
  .github/workflows/macos.yml
Owners: @baentsch, @thb-sb, @jplomas

Update linux CI to also build liboqs with -DOQS_LIBJADE_BUILD=OFF
  .github/workflows/linux.yml
Owners: @baentsch, @thb-sb, @jplomas

fixup! Update linux CI to also build liboqs with -DOQS_LIBJADE_BUILD=OFF
  .github/workflows/linux.yml
Owners: @baentsch, @thb-sb, @jplomas
