Repository open-quantum-safe/oqs-provider, changes with the owners that .github/CODEOWNERS names for each.
All owners: @baentsch, @bhess, @feventura, @thb-sb, @jplomas, @iyanmv

fixup! Update linux CI to also build liboqs with -DOQS_LIBJADE_BUILD=OFF
  .github/workflows/linux.yml
Owners: @baentsch, @thb-sb, @jplomas

Fix typos in CONFIGURE.md
  CONFIGURE.md
Owners: @baentsch

Elide leading shell prompt in CONFIGURE.md shell snippets
  CONFIGURE.md
Owners: @baentsch

Add interop tests with google for X25519MLKEM768 and x25519_kyber768
  scripts/oqsprovider-externalinterop.sh
Owners: @baentsch

Reverse TLS hybrid keyshares for x25519/x448-mlkem hybrids (#524)
  ALGORITHMS.md
  README.md
  oqs-template/ALGORITHMS.md/ids.fragment
  oqs-template/ALGORITHMS.md/oids.fragment
  oqs-template/README.md/algs.fragment
  oqs-template/generate.yml
  oqs-template/oqs-kem-info.md
  oqs-template/oqsprov/oqs_decode_der2key.c/decoder_make.fragment
  oqs-template/oqsprov/oqs_encode_key2any.c/encoder_defines.fragment
  oqs-template/oqsprov/oqs_encode_key2any.c/encoder_make.fragment
  oqs-template/oqsprov/oqs_kmgmt.c/keymgmt_constructors.fragment
  oqs-template/oqsprov/oqs_kmgmt.c/keymgmt_functions.fragment
  oqs-template/oqsprov/oqs_prov.h/alg_functions.fragment
  oqs-template/oqsprov/oqs_prov.h/endecoder_functions.fragment
  oqs-template/oqsprov/oqsdecoders.inc/make.fragment
  oqs-template/oqsprov/oqsencoders.inc/make.fragment
  oqs-template/oqsprov/oqsprov.c/assign_sig_oids.fragment
  oqs-template/oqsprov/oqsprov.c/kem_functions.fragment
  oqs-template/oqsprov/oqsprov.c/keymgmt_functions.fragment
  oqs-template/oqsprov/oqsprov.c/oid_patching.fragment
  oqs-template/oqsprov/oqsprov_capabilities.c/codepoint_patching.fragment
  oqs-template/oqsprov/oqsprov_capabilities.c/group_names.fragment
  oqs-template/oqsprov/oqsprov_keys.c/oqsnames.fragment
  oqs-template/scripts/common.py/kex_algs.fragment
  oqs-template/test/oqs_test_evp_pkey_params.c/hybrid_kem_algs.fragment
  oqsprov/oqs_decode_der2key.c
  oqsprov/oqs_encode_key2any.c
  oqsprov/oqs_hyb_kem.c
  oqsprov/oqs_kmgmt.c
  oqsprov/oqs_prov.h
  oqsprov/oqsdecoders.inc
  oqsprov/oqsencoders.inc
  oqsprov/oqsprov.c
  oqsprov/oqsprov_capabilities.c
  oqsprov/oqsprov_keys.c
  scripts/common.py
  scripts/oqsprovider-externalinterop.sh
  test/oqs_test_evp_pkey_params.c
Owners: @baentsch, @bhess, @feventura

disable tmp OID generation
  ALGORITHMS.md
  oqs-template/generate.py
  oqs-template/oqsprov/oqsprov.c/assign_sig_oids.fragment
  oqsprov/oqsprov.c
Owners: @baentsch

disable tests on no-OID KEMs
  oqsprov/oqsprov.c
  test/oqs_test_endecode.c
Owners: @baentsch

Update test/oqs_test_endecode.c
  test/oqs_test_endecode.c
Owners: @baentsch

Update test/oqs_test_endecode.c
  test/oqs_test_endecode.c
Owners: @baentsch

added CROSS to generate.yml
  oqs-template/generate.yml
Owners: @baentsch, @bhess, @feventura

.github/CODEOWNERS:

# https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners

* @baentsch
/oqsprov/oqs_hyb_kem.c @bhess
/oqs-template/generate.yml @baentsch @bhess @feventura
/CMakeLists.txt @baentsch @thb-sb
/.circleci/config.yml @baentsch @thb-sb
/.github/workflows @baentsch @thb-sb @jplomas
/oqsprov/oqs_sig.c @baentsch @feventura
/scripts/oqsprovider-pkcs12gen.sh @iyanmv
